.top_line{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #3793d5;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 14px;
    text-align: center;
    font-weight: 600;
    position: relative;
    padding: 7px 25px;
    display: flex;
    justify-content: center;
}
.track_order{
    padding-left: 300px;
    
    justify-self: unset;
    font-family: forma-djr-display,sans-serif;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    
}
.find_store{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    font-family: forma-djr-display,sans-serif;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #ffffff;
}
.top_heading{
    padding-left: 450px;
    color: #ffffff;
    font-family: forma-djr-display,sans-serif;
    font-size: 13px;
    font-weight: 750;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4px;
    text-align: center

}

.search_bar {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 70px;
    flex-flow: row-reverse;
    border: solid 1px #666;
    box-shadow: none;
    background: transparent;
    border-radius: 3px;
}

.second_line{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


}

.nav_search{
    /* margin-right: 20px; */
    /* height: 10px; */
    display: flex;
    border: #231f20 solid 1px;
    padding: 8px;
    width: 12%;
    
/* }
.search_bar{
    border: none; */


}


.sign_in{
    margin: 10px;
}
.second_line_third_column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.bag_icon{
    width: 20px;
    height: 20px;
    padding-top: 10px;
    margin: 0px 10px;
    cursor: pointer;
}

.fragrance_icon{
    margin-left: 100px;
    width: 337px;
    height: 85px;
}
.hi_there{
    font-family: KeplerStd-Regular;
    font-size: 17px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: right;
    margin: 0px;
}
.dandi{
    padding-left: 16px;
    padding-right: 18px;
    font-weight: 400;
}
.link{
    font-family: forma-djr-display,sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: black;
    font-stretch: normal;
    text-decoration: none;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
}
.my_bag{
    padding-top: 6px;
    padding-left: 12px;
    font-family: forma-djr-display,sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 2px;
    color: #231f20;
    cursor: pointer;
}
.third_row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
.third_list{
    cursor: pointer;
    font-family: forma-djr-display,sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    color: #000;
    padding: 6px 15px;
    text-transform: capitalize;
    width: 8%;
    /* display: inline-block; */
}
.third_list:hover .drop_down_content{
    display: flex;   
}
.drop_down_content{
    
    /* border: black solid; */
    width: fit-content;
    height: fit-content;
    display: none;
    position: absolute;
    background-color: white;
    text-align: left;
    z-index: 1;
    border-top: none;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
    border-radius: 0 0 3px 3px;
    min-width: 200px;
    white-space: nowrap;
    /* display: inline-block; */
}
.dropdown_first_heading{
    color: #757575;
    font-size: 13.2px;
   padding-top: none;
   padding-bottom: none;
    padding-right: 5px;
    padding-left: 20px;
    font-weight: 600;
}

.dropdown_first_heading:hover{
    color:#ff6f61
}