* {
  box-sizing: border-box;
}
.mainContainer {
  max-width: 90%;

  margin: auto;
  /* border: 2px solid blue; */
  width: 100vw;
  height: 55vh;
}
/* ----1st image------ */

.upper-image {
  vertical-align: middle;
  /* border: 1px dotted #24262b; */
}
/* -----1st empty box of bestsellers---- */

.bestSeller-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 90%;

  margin: auto;
  /* border: 2px solid rgb(255, 0, 212); */
  width: 100vw;
  margin-top: 35px;
}
.bestSeller {
  font-family: Montserrat, sans-serif, Arial, "sans-serif";
  color: #615959;
  text-align: center;
  /* margin-top: 35px; */
  font-size: x-large;
  /* border: 2px solid blueviolet; */
  width: fit-content;
  margin: auto;
  letter-spacing: 2.63px;
}
.viewAll-1 {
  border: solid 1px #242424;
  width: 8%;
  letter-spacing: 2.63px;
  padding: 9px 5px 5px;
  text-align: center;
  /* display: inline-block; */
  line-height: 1.14;
  font-family: forma-djr-display, sans-serif;
  position: absolute;
}
/* .bestSeller-carousel-box {
    width: 1000px;
    height: 300px;
    margin: auto;
  } */

/* Position the image container (needed to position the left and right arrows) */
.carousel-box-container {
  position: relative;
  /* width: 1000px;
    height: 300px;
    margin: auto; */
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 30%;
  margin: auto;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev1,
.next1 {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgb(114, 140, 148);
  padding: 2px 16px;
  color: white;
  width: 30%;
  margin: auto;
}
/* ----- bestseller spray details--- */
.bestsellerSpray {
  display: grid;
  width: 100%;
  grid-row: auto;
}
.bestsellerSpray > .sprayTitle {
  letter-spacing: 2.63px;
  font-family: forma-djr-display, sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  color: #267ab5;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.bestsellerSpray > .sprayCaption {
  color: #000;
  /* display: block; */
  margin-bottom: 4px;
  text-transform: capitalize;
  font-family: forma-djr-display, sans-serif;
  font-size: 12px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: 2px;
  text-align: center;
  display: grid;
  grid-row: auto;
}

.rowSpray:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.columnSpray {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.menWomen-image {
  display: flex;
  max-width: 100%;

  margin: auto;
  /* border: 2px solid rgb(0, 183, 255); */
  /* width: 100vw; */
  margin-top: 35px;
}
.menImage > .menImageblack {
  /* height: 375px; */
  width: 100%;
}
.womenImage > .womenImageblack {
  /* height: 375px; */
  width: 100%;
}
.buy1Get1-image {
  max-width: 100%;

  margin: auto;
  /* border: 2px solid #00fff2; */
  width: 100vw;
  height: 30vh;
  margin-top: 35px;
}
/* ------2nd empty box celebFrag------ */

/* .celebFragrance-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1170px;
    margin: auto;
    border: 2px solid brown;
    width: 100vw;
    margin-top: 35px;
  }
  .celebFragrance {
    font-family: Montserrat, sans-serif, Arial, "sans-serif";
    color: #615959;
    text-align: center;
    
    font-size: x-large;
    border: 2px solid blueviolet;
    width: fit-content;
    margin: auto;
    letter-spacing: 2.63px;
  } */
/* .viewAll-2 {
    border: solid 1px #242424;
    width: 120px;
    letter-spacing: 2.63px;
    padding: 9px 5px 5px;
    text-align: center;
    /* display: inline-block; */
/* line-height: 1.14;
    font-family: forma-djr-display, sans-serif;
    position: absolute;
  } */
/* ------frag under $75----- */

/* .fragUnder75-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1170px;
    margin: auto;
    border: 2px solid brown;
    width: 100vw;
    margin-top: 35px;
  } */
/* .fragUnder75 {
    font-family: Montserrat, sans-serif, Arial, "sans-serif";
    color: #615959;
    text-align: center;
     margin-top: 35px; 
    font-size: x-large;
    border: 2px solid blueviolet;
    width: fit-content;
    margin: auto;
    letter-spacing: 2.63px;
  }
  .viewAll-3 {
    border: solid 1px #242424;
    width: 120px;
    letter-spacing: 2.63px;
    padding: 9px 5px 5px;
    text-align: center;
     display: inline-block; 
    line-height: 1.14;
    font-family: forma-djr-display, sans-serif;
    position: absolute;
  }
  -----giftset----- */
/* .giftSets-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1170px;
    margin: auto;
    border: 2px solid brown;
    width: 100vw;
    margin-top: 35px;
  } */
/* .giftSet {
    font-family: Montserrat, sans-serif, Arial, "sans-serif";
    color: #615959;
    text-align: center; */
/* margin-top: 35px; */
/* font-size: 35px;
    border: 2px solid blueviolet;
    width: fit-content;
    margin: auto;
    letter-spacing: 2.63px;
  }
  .viewAll-4 {
    border: solid 1px #242424;
    width: 120px;
    letter-spacing: 2.63px;
    padding: 9px 5px 5px;
    text-align: center; */
/* display: inline-block; */
/* line-height: 1.14;
    font-family: forma-djr-display, sans-serif;
    position: absolute;
  } */
/* Bellow gift sets gifts cards */
.below-gift-sets-cards-cont {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.below-gift-sets-card {
  overflow: hidden;
}
.below-gift-sets-card > img {
  width: 100%;
  padding: 3%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}
.below-gift-sets-card > img:hover {
  width: 400px;
  padding: 3%;
}
.below-gift-sets-text :nth-child(1) {
  font-size: 1.2rem;
  color: #2c2c2c;
  /* padding: 3%; */
  text-align: center;
  /* border: 2px solid rgb(0, 23, 128); */
  margin-bottom: 0;
}
.below-gift-sets-text :nth-child(2) {
  font-size: 25px;
  color: #5f5f5f;
  /* padding: 3%; */
  text-align: center;
  /* border: 2px solid olive; */
}
/* -------top brands---- */
.topBrands-box {
  max-width: 100%;
  width: 100vw;
  margin-top: 50px;

  /* border: 1px solid red; */
}
.topBrands {
  font-family: Montserrat, sans-serif, Arial, "sans-serif";
  color: #615959;
  text-align: center;
  font-size: 35px;
  margin: auto;
  letter-spacing: 2.63px;
  padding: 3%;
}
.top-brands-img-cont {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(233, 233, 233);
  margin-top: 30px;
  /* display: none; */
}
/* Below top brands big card */
.below-brand-big-card {
  background-image: url("https://cdn.shopify.com/s/files/1/0910/0818/files/bg-1_53e36c77-413e-4293-b6bf-0b9f92a1a61a_2000X2000.jpg?v=1592834135");
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.below-brand-big-card-content {
  position: absolute;
  width: 80%;
  background-color: white;
  left: 10%;
  top: 10%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.below-brand-big-card-content-left {
  width: 40%;
}
.below-brand-big-card-content-right {
  width: 60%;
}
.below-brand-big-card-content-right > div:nth-child(1) {
  display: flex;
  justify-content: center;
}
.find-out-store-button {
  margin-top: 160px;
}
.find-out-store-button > button {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  background-color: black;
  outline: none;
  border: none;
  color: white;
}
.below-brand-big-card-content-right > div:nth-child(1) div > img {
  width: 230px;
  padding: 10px;
}
.below-brand-big-card-content-right > div:nth-child(2) {
  display: flex;
  justify-content: center;
}
.below-brand-big-card-content-right > div:nth-child(2) > img {
  width: 460px;
  padding: 10px;
}
/* ------discover---- */
.discover-box {
  display: block;
  /* justify-content: flex-end; */
  align-items: center;
  max-width: 100%;

  margin: auto;
  width: 100vw;
  margin-top: 35px;
}
.discover {
  font-family: Montserrat, sans-serif, Arial, "sans-serif";
  color: #615959;
  text-align: center;
  font-size: 35px;
  /* border: 2px solid blueviolet; */
  letter-spacing: 2.63px;
}
.main-disc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.main-disc .disc {
  position: relative;
}
.disc > img {
  width: 370px;
  height: 253px;
  padding: 3%;
}
.discover-below-img-block {
  position: absolute;
  background-color: white;
  /* border: 1px solid black; */
  width: 300px;
  top: 70%;
  left: 10%;
}
.discover-below-img-block-title {
  font-size: 1.2rem;
  color: #5f5f5f;
  padding: 3%;
}
.discover-below-img-block div:nth-child(2) {
  font-size: 14px;
  color: #5f5f5f;
  padding: 3%;
}
