* {
  box-sizing: border-box;
}
.mainContainer {
  max-width: 90%;

  margin: auto;
  /* border: 2px solid blue; */
  width: 100vw;
  height: 55vh;
}
/* ----1st image------ */

.upper-image {
  vertical-align: middle;
  /* border: 1px dotted #24262b; */
}
/* -----1st empty box of bestsellers---- */

.bestSeller-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 90%;

  margin: auto;
  /* border: 2px solid rgb(255, 0, 212); */
  width: 100vw;
  margin-top: 35px;
}
.bestSeller {
  font-family: Montserrat, sans-serif, Arial, "sans-serif";
  color: #615959;
  text-align: center;
  /* margin-top: 35px; */
  font-size: x-large;
  /* border: 2px solid blueviolet; */
  width: fit-content;
  margin: auto;
  letter-spacing: 2.63px;
}
.viewAll-1 {
  border: solid 1px #242424;
  width: 8%;
  letter-spacing: 2.63px;
  padding: 9px 5px 5px;
  text-align: center;
  /* display: inline-block; */
  line-height: 1.14;
  font-family: forma-djr-display, sans-serif;
  position: absolute;
}
/* .bestSeller-carousel-box {
  width: 1000px;
  height: 300px;
  margin: auto;
} */

/* Position the image container (needed to position the left and right arrows) */
.carousel-box-container {
  position: relative;
  /* width: 1000px;
  height: 300px;
  margin: auto; */
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 30%;
  margin: auto;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev1,
.next1 {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgb(114, 140, 148);
  padding: 2px 16px;
  color: white;
  width: 30%;
  margin: auto;
}
/* ----- bestseller spray details--- */
.bestsellerSpray {
  display: grid;
  width: 100%;
  grid-row: auto;
}
.bestsellerSpray > .sprayTitle {
  letter-spacing: 2.63px;
  font-family: forma-djr-display, sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  color: #267ab5;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.bestsellerSpray > .sprayCaption {
  color: #000;
  /* display: block; */
  margin-bottom: 4px;
  text-transform: capitalize;
  font-family: forma-djr-display, sans-serif;
  font-size: 12px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: 2px;
  text-align: center;
  display: grid;
  grid-row: auto;
}

.rowSpray:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.columnSpray {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.menWomen-image {
  display: flex;
  max-width: 100%;

  margin: auto;
  /* border: 2px solid rgb(0, 183, 255); */
  /* width: 100vw; */
  margin-top: 35px;
}
.menImage > .menImageblack {
  /* height: 375px; */
  width: 100%;
}
.womenImage > .womenImageblack {
  /* height: 375px; */
  width: 100%;
}
.buy1Get1-image {
  max-width: 100%;

  margin: auto;
  /* border: 2px solid #00fff2; */
  width: 100vw;
  height: 30vh;
  margin-top: 35px;
}
/* ------2nd empty box celebFrag------ */

/* .celebFragrance-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1170px;

  margin: auto;
  border: 2px solid brown;
  width: 100vw;
  margin-top: 35px;
}
.celebFragrance {
  font-family: Montserrat, sans-serif, Arial, "sans-serif";
  color: #615959;
  text-align: center;
  
  font-size: x-large;
  border: 2px solid blueviolet;
  width: fit-content;
  margin: auto;
  letter-spacing: 2.63px;
} */
/* .viewAll-2 {
  border: solid 1px #242424;
  width: 120px;
  letter-spacing: 2.63px;
  padding: 9px 5px 5px;
  text-align: center;
  /* display: inline-block; */
/* line-height: 1.14;
  font-family: forma-djr-display, sans-serif;
  position: absolute;
} */
/* ------frag under $75----- */

/* .fragUnder75-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1170px;

  margin: auto;
  border: 2px solid brown;
  width: 100vw;
  margin-top: 35px;
} */
/* .fragUnder75 {
  font-family: Montserrat, sans-serif, Arial, "sans-serif";
  color: #615959;
  text-align: center;
   margin-top: 35px; 
  font-size: x-large;
  border: 2px solid blueviolet;
  width: fit-content;
  margin: auto;
  letter-spacing: 2.63px;
}
.viewAll-3 {
  border: solid 1px #242424;
  width: 120px;
  letter-spacing: 2.63px;
  padding: 9px 5px 5px;
  text-align: center;
   display: inline-block; 
  line-height: 1.14;
  font-family: forma-djr-display, sans-serif;
  position: absolute;
}
-----giftset----- */
/* .giftSets-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1170px;

  margin: auto;
  border: 2px solid brown;
  width: 100vw;
  margin-top: 35px;
} */
/* .giftSet {
  font-family: Montserrat, sans-serif, Arial, "sans-serif";
  color: #615959;
  text-align: center; */
/* margin-top: 35px; */
/* font-size: 35px;
  border: 2px solid blueviolet;
  width: fit-content;
  margin: auto;
  letter-spacing: 2.63px;
}

.viewAll-4 {
  border: solid 1px #242424;
  width: 120px;
  letter-spacing: 2.63px;
  padding: 9px 5px 5px;
  text-align: center; */
/* display: inline-block; */
/* line-height: 1.14;
  font-family: forma-djr-display, sans-serif;
  position: absolute;
} */
/* Bellow gift sets gifts cards */
.below-gift-sets-cards-cont {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.below-gift-sets-card {
  overflow: hidden;
}
.below-gift-sets-card > img {
  width: 100%;
  padding: 3%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}
.below-gift-sets-card > img:hover {
  width: 400px;
  padding: 3%;
}
.below-gift-sets-text :nth-child(1) {
  font-size: 1.2rem;
  color: #2c2c2c;
  /* padding: 3%; */
  text-align: center;
  /* border: 2px solid rgb(0, 23, 128); */
  margin-bottom: 0;
}
.below-gift-sets-text :nth-child(2) {
  font-size: 25px;
  color: #5f5f5f;
  /* padding: 3%; */
  text-align: center;
  /* border: 2px solid olive; */
}
/* -------top brands---- */
.topBrands-box {
  max-width: 100%;
  width: 100vw;
  margin-top: 50px;

  /* border: 1px solid red; */
}
.topBrands {
  font-family: Montserrat, sans-serif, Arial, "sans-serif";
  color: #615959;
  text-align: center;
  font-size: 35px;
  margin: auto;
  letter-spacing: 2.63px;
  padding: 3%;
}
.top-brands-img-cont {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(233, 233, 233);
  margin-top: 30px;
  /* display: none; */
}
/* Below top brands big card */
.below-brand-big-card {
  background-image: url("https://cdn.shopify.com/s/files/1/0910/0818/files/bg-1_53e36c77-413e-4293-b6bf-0b9f92a1a61a_2000X2000.jpg?v=1592834135");
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.below-brand-big-card-content {
  position: absolute;
  width: 80%;
  background-color: white;
  left: 10%;
  top: 10%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.below-brand-big-card-content-left {
  width: 40%;
}
.below-brand-big-card-content-right {
  width: 60%;
}
.below-brand-big-card-content-right > div:nth-child(1) {
  display: flex;
  justify-content: center;
}
.find-out-store-button {
  margin-top: 160px;
}
.find-out-store-button > button {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  background-color: black;
  outline: none;
  border: none;
  color: white;
}
.below-brand-big-card-content-right > div:nth-child(1) div > img {
  width: 230px;
  padding: 10px;
}
.below-brand-big-card-content-right > div:nth-child(2) {
  display: flex;
  justify-content: center;
}
.below-brand-big-card-content-right > div:nth-child(2) > img {
  width: 460px;
  padding: 10px;
}
/* ------discover---- */
.discover-box {
  display: block;
  /* justify-content: flex-end; */
  align-items: center;
  max-width: 100%;

  margin: auto;
  width: 100vw;
  margin-top: 35px;
}
.discover {
  font-family: Montserrat, sans-serif, Arial, "sans-serif";
  color: #615959;
  text-align: center;
  font-size: 35px;
  /* border: 2px solid blueviolet; */
  letter-spacing: 2.63px;
}
.main-disc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.main-disc .disc {
  position: relative;
}
.disc > img {
  width: 370px;
  height: 253px;
  padding: 3%;
}
.discover-below-img-block {
  position: absolute;
  background-color: white;
  /* border: 1px solid black; */
  width: 300px;
  top: 70%;
  left: 10%;
}
.discover-below-img-block-title {
  font-size: 1.2rem;
  color: #5f5f5f;
  padding: 3%;
}
.discover-below-img-block div:nth-child(2) {
  font-size: 14px;
  color: #5f5f5f;
  padding: 3%;
}
/*==================== Loving us ============*/
.loving-us-cont {
  background-image: url("https://cdn.shopify.com/s/files/1/0910/0818/files/Bitmap_d0741796-ce4e-480c-b4ce-17635a89ab36_2000X2000.jpg?v=1592834508");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 150px;
}
.loving-us-text {
  text-align: center;
  font-size: 20px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.loving-us-img-cont {
  display: flex;
  justify-content: space-evenly;
}
/* Subscribe to mail ----------*/
.subscribe-to-mail-cont {
  background-color: #cbe6fa;
  width: 100%;
  height: 150px;
  margin-top: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.subscribe-to-mail-text {
  padding-right: 40px;
}
.subscribe-to-mail-box {
  padding-left: 40px;
}
.subscribe-to-mail-box > input {
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
  outline: none;
}
.subscribe-to-mail-box > button {
  padding: 10px 15px;
  font-size: 14px;
  background-color: black;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
/* Go to top Button */
#goToTopBtn {
  display: none;
  position: fixed;
  bottom: 150px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: silver;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid silver;
}

#goToTopBtn:hover {
  background-color: black;
  color: white;
}
/* -------footerPart------- */
.footer {
  background-color: #ffffff;
  padding: 70px 0px;
}
.footerContainer {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-family: Montserrat, sans-serif, Arial, "sans-serif";
  max-width: 120%;

  margin: auto;
  /* border: 2px solid blue; */
  width: 100vw;
  height: 55vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  letter-spacing: 2.63px;
  text-align: left;
}
/* -----footer headings----- */
.footer-col .headings {
  font-size: 18px;
  color: #24262b;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 400;
  /* border: 2px solid blue; */
}

/* --- margin between to properties---- */

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

/* ----transition effect on each prop---- */

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #24262b;
  text-decoration: none;
  font-weight: 300;
  color: #615959;
  display: block;
  transition: all 0.3s ease;
  /* background-color: chartreuse; */
}

/* ------ effect on each prop----  */
.footer-col ul li a:hover {
  color: #24262b;
  padding-left: 8px;
  /* background-color: crimson; */
}
.footer-col .social-links a {
  display: inline block;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 20px 20px 0;
  text-align: center;
  line-height: 40px;

  color: #24262b;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #55565a;
}
.footer-col .payPartners {
  text-align: center;
  text-decoration: none;
  color: #55565a;
  /* border: 2px solid red; */
  width: 80vw;
  margin-top: 15px;
  padding-left: 10%;
}

.footer-col .rights {
  text-align: center;
  text-decoration: none;
  color: #8d8d8f;
  /* border: 2px solid red; */
  width: 80vw;
  margin-top: 45px;
  padding-left: 10%;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/* ======media queries for bestseller===== */
